  
  .img {
    &-avatar, &-frame {
        @include disp-block (10px, 100%);
    }
    &-avatar {
        max-height: 100%;
    }
    &-frame {
        padding: 13px;
        border: 1px solid #ccc;
    }
    &-logo {
        @include disp-block;
    }
  }