
// --------Descriptive Colors-------------------------

    $green-turquoise   : #58e1c1; 
    $blue         : #51ddfc;
    $light-green  : #63cc82;
    $red          : #e4757a;
    $orange       : #fd7856;
    $violet       : #927bc1;

    $col-3    : #deb2ee;
    $col-4    : #7ee6fd;
    $col-5    : #88d9a0;
    $col-6    : #4da2bb;
    $col-7    : #ec9fa3;
    $col-8    : #fd9f85;
    $col-12   : #80e8d1; 

// ----------Functional Colors---------------------

    $primary-color  : $green-turquoise; 
    $default-clr    : $blue;
    $sucess-clr     : $light-green;
    $error-clr      : $red;
    $warning-clr    : $orange;
    $info-clr       : $violet; 


// ----------Grid System ----------------
    $myclrs: (
    
    );

    $bckgrnd-colors: (
      'col-1', 
      'col-2',
      'col-3',
      'col-4',
      'col-5',
      'col-6',
      'col-7',
      'col-8',
      'col-12');


// -------------Buttons---------------------

$buttns : (
  'default',
  'success',
    'error',
  'warning',
    'info'
);

$thecolors: (
  '#51ddfc',
  '#63cc82', 
  '#e4757a', 
  '#fd7856', 
  '#927bc1');



// -------------MQ---------------------
$brk-narrow: '(min-width: 768px)';