.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1s;
  }
  
  .default {
    background-color: #51ddfc;
    &:hover {
      background-color: lighten(white, 15%);  // fix this
    }
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }