.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

/*The $col variables aren't working although
 they are well compiled in css line 423 and
written in _variables line 15  */  

  $bckgrnd-colors: ('col-1', 'col-2', 'col-3', 'col-4', 'col-5', 'col-6', 'col-7', 'col-8', 'col-12');
  $clrs: ('$col-1', '$col-2', '$col-3', '$col-4', '$col-5', '$col-6', '$col-7', '$col-8', '$col-12');

  @each $bckgrnd, $colors in zip($bckgrnd-colors, $clrs) {
    .theme.#{$bckgrnd} {
      background-color: #{$colors};
    }
   }
  
  .card {
    flex-basis: 100%;
  }